body
{
  margin: 0;
  font-family: sans-serif;
}

a
{
  color: #0066FF;
}

a:hover
{
  text-decoration: none;
}

#title
{
  background: #FFF;
  padding-bottom: 40px;
}

#title img
{
  float: left;
}

#title h1
{
  font-size: 2.7em;
  margin: 0;
  padding-top: 40px;
}

#title h2
{
  margin: 0;
  padding-left: 30px;
  font-size: 1.3em;
}

#title form
{
  float: right;
  margin-right: 20px;
}

#search-bar
{
  border: solid #000 1px;
  padding: 3px;
  padding-left: 10px;
  border-radius: 15px;
}

#search-submit
{
  border: solid #48484A 1px;
  border-right: solid #000 1px;
  border-bottom: solid #000 1px;
  background: #48484A;
  color: #FFF;
}

#search-submit:active
{
  border-bottom: solid #FFF 1px;
  border-right: solid #FFF 1px;
}

#links
{
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 3px 5px 6px #CCC;
  background: #660000;
}

#links ul
{
  padding: 0;
  margin-left: 25px;
  display: inline;
}

#links ul li
{
  padding-right: 5px;
  display: inline;
}

#links a
{
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;
  text-decoration: none;
}

#links a:hover
{
  color: #EEE2BA;
}

#content
{
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  background: #FFF;
}

div#content > *:nth-child(2n+2) {
  border-radius: 20px;
  background: #EEE;
}

#content h3
{
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid #000 1px;
}

.content-box
{
  padding-bottom: 5px;
}

#content p
{
  padding-left: 30px;
  padding-right: 30px;
}

.content-box ul
{
  margin-left: 30px;
}

.meeting-date
{
  display: inline-block;
  font-weight: normal;
  font-size: 9pt;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #FFF;
  background: #660000;
  border-radius: 5px;
}

#upcoming
{
  display: inline-block;
  float: right;
  background: #660000;
  color: #EEE2BA;
  text-align: right;
  padding: 5px;
  padding-left: 15px;
  border: solid #660000 1px;
  border-bottom-left-radius: 15px;
  box-shadow: -6px 8px 5px #CCC;
}

.next-meeting
{
  font-weight: bold;
}

#footer
{
  padding-top: 2px;
  padding-bottom: 2px;
  background: #660000;
  color: #FFF;
  margin-top: 30px;
  font-size: 10pt;
  text-align: center;
}

#footer a
{
  color: #FFF;
}
