body
{
  margin: 0;
  font-family: sans-serif;
}

#title
{
  background: #FFF;
  padding-bottom: 40px;
}

#title img
{
  float: left;
}

#title h1
{
  font-size: 2.7em;
  margin: 0;
  padding-top: 40px;
}

#title h2
{
  margin: 0;
  padding-left: 30px;
  font-size: 1.3em;
}

#title form
{
  float: right;
  margin-right: 20px;
}

#search-bar
{
  border: solid #000 1px;
  padding: 3px;
  padding-left: 10px;
  border-radius: 15px;
}

#search-submit
{
  border: solid #48484A 1px;
  border-right: solid #000 1px;
  border-bottom: solid #000 1px;
  background: #48484A;
  color: #FFF;
}

#search-submit:active
{
  border-bottom: solid #FFF 1px;
  border-right: solid #FFF 1px;
}

#links
{
  /*margin-top: 40px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 3px 5px 6px #CCC;
  -moz-box-shadow: 0 3px 5px 6px #CCC;
  -webkit-box-shadow: 0 3px 5px 6px #CCC;
  /*border-top: solid #000 1px;
  border-bottom: solid #000 1px;*/
  background: #660000;
}

#links ul
{
  padding: 0;
  margin-left: 50px;
  display: inline;
}

#links ul li
{
  padding-right: 5px;
  display: inline;
}

#links a
{
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;
  text-decoration: none;
}

#links a:hover
{
  color: #EEE2BA;
}

#content
{
  margin-top: 30px;
  width: 55%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  background: #FFF;
}

#content h3
{
  padding-bottom: 5px;
  border-bottom: solid #000 1px;
}


#content p
{
  padding-left: 30px;
  padding-right: 30px;
}

