body
{
  margin: 0;
  font-family: sans-serif;
}

#title img
{
  float: left;
}

#title h1
{
  font-size: 2.7em;
  margin: 0;
  padding-top: 40px;
}

#title h2
{
  margin: 0;
  padding-left: 30px;
  font-size: 1.3em;
}

#links
{
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid #000 1px;
  border-bottom: solid #000 1px;
}

#links ul
{
  padding: 0;
  margin-left: 50px;
  display: inline;
}

#links ul li
{
  padding-right: 15px;
  display: inline;
}

#links a
{
  text-decoration: none;
}

#content
{
  clear: both;
  margin-top: 30px;
  width: 700px;
  margin: 0 auto;
}

#content h3
{
  padding-bottom: 5px;
  border-bottom: solid #000 1px;
}


#content p
{
  padding-left: 20px;
}

