<html>
  <head>
    <title>TAMULUG - Texas A&amp;M Unix &amp; Linux Users Group</title>
    <link href="../../media/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="title">
      <img src="../../media/site_images/tux.png" alt="TAMULUG" />
      <h1>TAMULUG</h1>
      <h2>Texas A&amp;M Unix &amp; Linux Users Group</h2>
      <form action="http://www.google.com/search" accept-charset="UTF-8" method="get">
        <input name="q" size="30" placeholder="Search" title="Search fo stuff" id="search-bar" type="text">
        <input id="search-submit" name="op" id="submit" value="Search" type="submit">
      </form>
    </div>
    <div id="links">
      <ul>
        <li><a href="#">Upcoming Meetings</a></li>
        <li><a href="#">Wiki</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Current Officers</a></li>
        <li><a href="#">TAMULinux</a></li>
        <li><a href="#">IRC</a></li>
        <li><a href="#">Matt Sux</a></li>
      </ul>
    </div>
    <div id="upcoming">
      <span class="next-meeting">Next Meeting: </span>
      Mac OS X - why it is awesome by Eric Wood
    </div>
    <div id="content">
      <div class="content-box">
        <h3>Howdy!</h3>
        <p>Welcome to TAMULUG - the home of The Texas A&amp;M Unix &amp; Linux Users Group.</p>
        <p>We currently meet every Wednesday evening at 7:00PM on Texas A&amp;M Campus in Zachry, room 105D. Anyone with an interest in Unix, Linux and open source software is welcome to attend.</p>
        <p>The TAMULUG is a not-for-profit organization dedicated to providing education about the installation, usage, and maintenance of *NIX operating systems and development of free and open source software.</p>
      </div>
      <div class="content-box">
        <h3>Howdy!</h3>
        <p>Welcome to TAMULUG - the home of The Texas A&amp;M Unix &amp; Linux Users Group.</p>
        <p>We currently meet every Wednesday evening at 7:00PM on Texas A&amp;M Campus in Zachry, room 105D. Anyone with an interest in Unix, Linux and open source software is welcome to attend.</p>
        <p>The TAMULUG is a not-for-profit organization dedicated to providing education about the installation, usage, and maintenance of *NIX operating systems and development of free and open source software.</p>
      </div>
    </div>
  </body>
</html>
