<html>
  <head>
    <title>TAMUWUG - Texas A&M Windows Users Group</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="title">
      <img src="winders.jpg" alt="your mother" />
      <h1>TAMUWUG</h1>
      <h2>Texas A&M Windows Users Group</h2>
      <form action="http://www.google.com/search" accept-charset="UTF-8" method="get">
        <input name="q" size="30" value="FIND THINGS" title="Search fo stuff" type="text">
        <input name="op" id="submit" value="Search" type="submit">
      </form>
    </div>
    <div id="links">
      <ul>
        <li><a href="#">Upcoming Meetings</a></li>
        <li><a href="#">Wiki</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Current Officers</a></li>
        <li><a href="#">TAMUWinders</a></li>
        <li><a href="#">IRC</a></li>
        <li><a href="#">Matt Sux</a></li>
      </ul>
    </div>
    <div id="content">
      <h3>Howdy!</h3>
      <p>Welcome to TAMUWUG - the home of The Texas A&M Windows Users Group.</p>
      <p>We currently meet every Wednesday evening at 7:00PM on Texas A&M Campus in Zachry, room 105D. Anyone with an interest in Windows and closed source is welcome to attend.</p>
      <p>The TAMULUG is a for-profit organization dedicated to providing educationabout the installation, usage, and maintenance of the Microsoft Windows operating systems.</p>
      <p>The TAMUWUG was formed in 1996 by a group of students wishing to spread the ideas of expensive and closed source software. It has continued to grow in member base and range of services.</p>

      <h3>Reasons why Eric is Cool</h3>
      <p>He's awesome</p>
      <p>His websites look cool</p>
      <p>He can like totally beat Cody up</p>
      <p>Oh hey, looks like multiple headers works well in the content div. Schweeeeet.</p>
    </div>
  </body>
</html>
