{% extends 'base.html' %}
{% block upcoming %}
{% if upcoming %}
      <span class="next-meeting">Next Meeting: </span>
      <a href="/meetings">{{ upcoming.title }}</a>
{% else %}
{% endif %}
{% endblock %}

{% block content %}
      <div class="content-box">
        <h3>Howdy!</h3>
        <p>Welcome to TAMULUG - the home of The Texas A&amp;M Unix &amp; Linux Users Group.</p>
        <p>We currently meet every Wednesday evening at 7:00PM on Texas A&amp;M Campus in Zachry, room 105D. Anyone with an interest in Unix, Linux and open source software is welcome to attend.</p>
        <p>The TAMULUG is a not-for-profit organization dedicated to providing education about the installation, usage, and maintenance of *NIX operating systems and development of free and open source software.</p>
      </div>
{% endblock %}
